:root {

/* Primary Colors*/
--primary-color: hsl(0, 78%, 62%);
--secondary-color: hsl(180, 62%, 55%);
--tertiary-color: hsl(34, 97%, 64%);
--cuartiary-color: hsl(212, 86%, 64%);

/* Neutral Colors*/
--very-dark: hsl(234, 12%, 34%);
--grayish: hsl(229, 6%, 66%);
--very-light: hsl(0, 0%, 98%);

}

body * {
    box-sizing: border-box;
}    

html {
    font-size: 15px;
    background-color: var(--very-light);
}


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    
}

header {
    margin-top: 70px;
    text-align: center;
}

header h1,h2 {
    font-size: 35px;
}

header h1{
    color: var(--very-dark);
    font-weight: 200;
    margin-bottom: 0;
}

header h2{
    color: var(--very-dark);
    font-weight: 600;
    margin: 0 0;
}

header h3{
    color: var(--grayish);
    font-size: 15px;
    font-weight: 400;
    padding: 5px 410px;
}

.news-content-flex .article-center {
    display: flex;
    width: 80%;
    margin-left: 150px;
    text-align: center;
    margin-top: 50px;
}

.news-content-flex .article-center .article-box-1,
.news-content-flex .article-center .article-box-2,
.news-content-flex .article-center .article-box-3,
.news-content-flex .article-center .article-box-4 {
    border-top: 4px solid;
    border-radius: 5px;
    height: 250px;
    width: 610px;
    background-color: #ffffff;
    box-shadow: 10px 20px 20px #e0e9f2; 
}


.news-content-flex .article-center .article-box-1 {
    margin-top: 150px;
    margin-right: 30px;
    border-top-color: var(--secondary-color);

}

.news-content-flex .article-center .article-box-2 {
    border-top-color: var(--primary-color);
}


.news-content-flex .article-center .article-box-3 {
    margin-top: 300px;
    margin-left: -340px;
    border-top-color: var(--tertiary-color);
}


.news-content-flex .article-center .article-box-4 {
    margin-top: 150px;
    margin-left: 30px;
    border-top-color: var(--cuartiary-color);
}

.news-content-flex .article-center .article-box-1 .article-box-1-image,
.news-content-flex .article-center .article-box-2 .article-box-2-image,
.news-content-flex .article-center .article-box-3 .article-box-3-image,
.news-content-flex .article-center .article-box-4 .article-box-4-image  {
    display: flex;
    height: 65px;
    width: 65px;
    background-size: 100%;
    margin-left: 250px;
    margin-top: 75px;
}

.news-content-flex .article-center .article-box-1 .article-box-1-image {
    background: url(./images/icon-supervisor.svg) no-repeat;
}

.news-content-flex .article-center .article-box-2 .article-box-2-image {
    background: url(./images/icon-team-builder.svg) no-repeat;
}

.news-content-flex .article-center .article-box-3 .article-box-3-image {
    background: url(./images/icon-karma.svg) no-repeat;
}

.news-content-flex .article-center .article-box-4 .article-box-4-image {
    background: url(./images/icon-calculator.svg) no-repeat;
}

.article-center h2 {
    color: var(--very-dark);
    font-size: 20px;
    text-align: start;
    font-weight: 600;
    margin-left: 20px;
    margin-bottom: 0;
    
}

.article-center h3 {
    color: var(--grayish);
    font-size: 12px;
    font-weight: 400;
    text-align: start;
    margin-left: -25px;
    padding: 0px 45px;
    margin-top: 10px;

}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}