:root {

/* Primary Colors*/
--primary-color: hsl(0, 78%, 62%);
--secondary-color: hsl(180, 62%, 55%);
--tertiary-color: hsl(34, 97%, 64%);
--cuartiary-color: hsl(212, 86%, 64%);

/* Neutral Colors*/
--very-dark: hsl(234, 12%, 34%);
--grayish: hsl(229, 6%, 66%);
--very-light: hsl(0, 0%, 98%);

}

body * {
    box-sizing: border-box;
}    

html {
    font-size: 15px;
    background-color: var(--very-light);
}


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    
}

header {
    margin-top: 30px;
    text-align: center;
}


header h1{
    color: var(--very-dark);
    font-size: 25px;
    font-weight: 200;
    margin-bottom: 0;
}

header h2{
    color: var(--very-dark);
    font-size: 25px;
    font-weight: 600;
    margin: 0 0;
}

header h3{
    color: var(--grayish);
    font-size: 12px;
    font-weight: 200;
    padding: 5px 470px;
}

.news-content-flex .article-center {
    display: flex;
    width: 80%;
    margin-left: 150px;
    text-align: center;
    margin-top: 50px;
}

.news-content-flex .article-center .article-box-1,
.news-content-flex .article-center .article-box-2,
.news-content-flex .article-center .article-box-3,
.news-content-flex .article-center .article-box-4 {
    border: 1px solid;
}

.news-content-flex .article-center .article-box-1,
.news-content-flex .article-center .article-box-2,
.news-content-flex .article-center .article-box-3,
.news-content-flex .article-center .article-box-4 {
    height: 250px;
    width: 610px;
}


.news-content-flex .article-center .article-box-1 {
    margin-top: 150px;
    margin-right: 30px;

}


.news-content-flex .article-center .article-box-3 {
    margin-top: 300px;
    margin-left: -340px;
}


.news-content-flex .article-center .article-box-4 {
    margin-top: 150px;
    margin-left: 30px;
}

































.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}